<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{dd/MM/yyyy HH:mm:ss.SSS} | %c{1}.%M | %5level | %msg %n</pattern>
		</encoder>
	</appender>


  <logger name="com.sgu.core.framework.i18n.I18nHelper" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="console" />
  </logger>

  <logger name="com.sgu.projectmanager" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="console" />
  </logger>
  
  <logger name="org.kie" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="console" />
  </logger>
  
  <logger name="org.drools" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="console" />
  </logger>

  <logger name="org.jpbm" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="console" />
  </logger>

  <root>
    <priority value="DEBUG" />
    <appender-ref ref="console" />
  </root>

</configuration>