<?xml version="1.0" encoding="UTF-8"?>
<beans 
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:remote="http://www.sgu.fr/schema/remote"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                      http://www.sgu.fr/schema/remote http://www.sgu.fr/schema/remote/sgu-spring-remote.xsd">

  
  <bean id="remoteService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
    <property name="serviceUrl" value="http://localhost:8080/maze-explorer-prez/remoting/IGetRemoteSpringObjectService" />
    <property name="serviceInterface" value="com.sgu.core.framework.spring.service.remote.IGetRemoteSpringObjectService" />
  </bean> 
  
</beans>  
